#contact_modal {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  margin-top: 0px;
  height: 0%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  /* text-align: center; */
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 19px;
}

form label {
  color: #312e2e;
  font-size: 36px;
  margin-bottom: 5px;
}

form button {
  margin-top: 49px;
}
form div {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  align-items: self-start;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
#message {
  height: 170px;
}
.contact_width {
  width: 30%;
}

body {
  position: relative;
}

.like-price {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  padding: 0 15px;
  border-radius: 5px;
  background-color: #db8876;
  width: 376px;
  height: 76px;
  right: 2%;
  bottom: 0;
}

.like-price p {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 31.25px;
}
.photograph-header {
  background-color: #fafafa;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 55px;
}

.photograph-header h1 {
  font-weight: 400;
  font-size: 64px;
  color: #d3573c;
}

.photograph-header .city_country {
  color: #901c1c;
  font-weight: 400;
  font-size: 24px;
}

.photograph-header .quote {
  font-size: 18px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photograph-header article {
  order: -1;
}

.photograph-header article {
  width: 35%;
}

section label {
  font-size: 18px;
  font-weight: 800;
  line-height: 23.44px;
}

/* select */
.select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  width: 170px;
  height: 69px;
  display: inline-block;
  margin-left: 25px;
}
.select {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 3px #b2b2b2;
}
.select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  height: 69px;
  line-height: 60px;
  background-color: #901c1c;
  cursor: pointer;
  border-radius: 5px;
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 0;
  background: #901c1c;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  box-shadow: 3px 3px 3px #b2b2b2;
}
.select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 20px 0 20px;
  font-size: 18px;
  font-weight: 700;
  color: #ffff;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}
.custom-option.selected {
  color: #ffffff;
  background-color: #901c1c;
}

/* arrow select*/
.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}
.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -5px;
  transform: rotate(45deg);
  background-color: #fff;
}
.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: #fff;
}
.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}
.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}
/*style the arrow inside the select element:*/
/* .custom-select:after {
  position: absolute;
  content: "";
  top: 30px;
  right: 20px;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-color: #fff transparent transparent transparent;
} */

body {
  max-width: 1240px;
  margin: 0 auto;
}

.photo-trier img,
.photo-trier video {
  width: 100%;
  height: 300px;
  min-width: 350px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
}

.photo-trier img:hover,
.photo-trier video:hover {
  opacity: 0.8;
}
section article {
  display: block;
}

.div_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 30%;
}

.bottom {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #901c1c;
  margin-top: 10px;
  width: 350px;
}
.bottom p:first-child {
  width: 75%;
}
.bottom .likes {
  cursor: pointer;
}
.pictures {
  margin-top: 25px;
}

.myPhotos {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* flex-direction: column; */
  margin-top: 58px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: calc((100% - 90%) / 2);
}

.custom-option.selected {
  display: none;
}
.modalPics {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.3); /* Black w/ opacity */
}
/* Modal Content (Image) */

.modal-content {
  margin: auto;
  display: block;
  width: auto;
  /* height: 900px; */
  max-height: calc(100vh - 100px);
  object-fit: cover;
  max-width: 80%;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  /* max-width: 700px; */
  /* text-align: center; */
  color: #901c1c;
  padding: 10px 0;
  font-weight: 400;
  font-size: 24px;
  /* height: 150px; */
}
/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
.content {
  margin: 6px auto;
  width: 100%;
  max-width: 1253px;
  /* max-height: 984px; */
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #fff;
  border: 2px solid #95fff9;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 40px;
}
.fix {
  width: 50%;
  background-color: #db8876;
  margin: auto;
  max-height: 900px;
  max-width: 669px;
  border-radius: 5px;
  color: #000000;
  border: none;
  box-shadow: -1px 4px 5px #0000007d;
  padding-top: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* #myModal .close {
  background-color: #d3573c;
} */
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 42px;
  height: 42px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 42px;
  width: 3px;
  background-color: #901c1c;
}

/* .next,
.prev {
  position: absolute;
  z-index: 1;
  top: 50%;
  padding: 10px;
  cursor: pointer;
  color: #901c1c;
} */
.newArrow {
  border: solid #911c1c;
  border-width: 0 3px 3px 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  padding: 10px;
  cursor: pointer;
}
.next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  left: 95%;
}

.prev {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 4%;
}

.checker {
  display: none;
  font-size: 17px;
  color: red;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 599px;
  border-radius: 8px;
  font-size: 20px;
  height: 68px;
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}
